<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
    </appender>
    <!--[host-port-applicationId] as pulsar key and host is determined with application code-->
    <springProperty scope="context" name="applicationId" source="spring.application.name" defaultValue="gateway"/>
    <springProperty scope="context" name="port" source="server.port" defaultValue="8000"/>

    <!-- This is the pulsarAppender -->
    <appender name="pulsarAppender" class="com.github.bryan.logback.pulsar.PulsarAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <topic>logs</topic>
        <keyingStrategy class="logback.pulsar.PulsarAggregateLogsKeyingStrategy" />
        <deliveryStrategy class="com.github.bryan.logback.pulsar.delivery.AsynchronousDeliveryStrategy" />

        <!-- Optional parameter to use a fixed partition -->
<!--
        <partition>0</partition>
-->
        <!-- brokerUrl is the only mandatory -->
        <brokerUrl>pulsar://localhost:6650</brokerUrl>
        <!-- this is the fallback appender if pulsar is not available. -->
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="pulsarAppender" />
    </root>
</configuration>